# Built application files
*.apk
*.ap_

# Java class files
*.class

# Object files
*.o

# Gradle files
.gradle/
android/build/
gradlew
gradlew.bat
gradle

# Local configuration file (sdk path, etc)
local.properties

# Cmake
.cxx
cmake_install.cmake

# Python
wheelhouse
__pycache__
*.egg-info
python/dist
python/build
python/vosk/*.so
python/test/db
python/test/hyp
python/test/model
python/test/ref
python/test/result.txt
python/test/wav.scp

# Java
*.so
java/org
java/*.cc
java/model-spk/
java/model/

# CSharp
*.dll
*.so
*.nupkg
csharp/demo/model
csharp/demo/test.wav
csharp/demo/bin
csharp/demo/obj

# Node
nodejs/demo/model
nodejs/demo/model-spk
nodejs/demo/test.wav
nodejs/node_modules
nodejs/package-lock.json

# C
c/test_vosk
c/test_vosk_speaker
c/oprofile_data
c/model
c/test.wav
