# Built application files
*.apk
*.ap_

# Java class files
*.class

# Gradle files
.gradle/
build/
gradlew
gradlew.bat
gradle

# Local configuration file (sdk path, etc)
local.properties

# Cmake
.cxx
cmake_install.cmake

# Python
wheelhouse
__pycache__
*.egg-info
python/dist
python/example/model

# Java
*.so
java/org
java/model-en
java/*.cc
